{{template "header.html" .}}

<div id="header">
    <div id="post-nav"><a href="/">Home</a>&nbsp;»&nbsp;<a href="{{.category.Permalink}}">{{.category.Name}}</a></div>
</div>
<div class="clearfix"></div>

<div id="title">{{.pageTitle}}</div>
<div id="content">
	<ul>
		{{range $k, $p := .postList}}
		<li class="pagelist">
			<a href="{{$p.Permalink}}">{{$p.Title}}</a> <span class="datetime">{{Date $p.PostTime "Y-m-d"}}</span>
		</li>
		{{end}}
	</ul>
</div>

{{str2html .pageBar}}
<div class="clearfix"></div>

{{template "footer.html" .}}