{{template "header.html" .}}

<div id="wiki_title">{{.title}}</div>

<div id="index">

	{{range $k, $v := .categoryList}}
	{{$postList := GetPostListByCategory $v.Name 1 10}}
	<h2 id="intro"><a href="{{$v.Permalink}}" style="font-size:12px;float:right;line-height:20px">更多</a> {{$v.Name}}</h2>
	<ul>
		{{range $kk, $p := $postList}}
		<li class="pagelist">
			<a href="{{$p.Permalink}}">{{$p.Title}}</a> <span>{{Date $p.PostTime "Y-m-d H:i"}}</span>
		</li>
		{{end}}
	</ul>
	<div class="clearfix"></div>

	{{end}}


</div>

{{template "footer.html" .}}